body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: black url('./../images/401.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}

a {
  color: #00B7FF;
}
